<div class="mainDiv">

    <div class="card-container">

      <div class="card">
        <h3>Date Input</h3>
        <p>Learn how to use Kendo UI Date Input.</p>
        <a routerLink="/sub/dateinput" class="btn">Go to Date Input</a>
      </div>
        
      <div class="card">
        <h3>Grid</h3>
        <p>Learn how to use Kendo UI Grid.</p>
        <a routerLink="/sub/grid" class="btn">Go to Grid</a>
      </div>
      
      <div class="card">
        <h3>Barcode</h3>
        <p>Learn how to use Kendo UI Barcode & QR code.</p>
        <a routerLink="/sub/barcode" class="btn">Go to Buttons</a>
      </div>

      <div class="card">
        <h3>Buttons</h3>
        <p>Learn how to use Kendo UI Buttons.</p>
        <a routerLink="/sub/buttons" class="btn">Go to Buttons</a>
      </div>

    </div>

  </div>
  