<div>
    <p>Buttons</p>
    <button kendoButton (click)="hC()" themeColor="primary"> Primary </button>
    <button kendoButton (click)="hC()" themeColor="secondary"> Secondary </button>
    <button kendoButton (click)="hC()" themeColor="tertiary"> Tertiary</button>
    <button kendoButton (click)="hC()" themeColor="warning"> Warning </button>
    <button kendoButton (click)="hC()" themeColor="success"> Success </button>
    <button kendoButton (click)="hC()" themeColor="base"> Base </button>
    <button kendoButton (click)="hC()" themeColor="dark"> Dark </button>
    <button kendoButton (click)="hC()" themeColor="info"> Info </button>
    <button kendoButton (click)="hC()" themeColor="none"> None </button>
  </div>
    
  
  <div class="example-col">
    <p>ButtonGroup</p>
    <kendo-buttongroup>
      <button kendoButton [toggleable]="false">Option A</button>
      <button kendoButton [toggleable]="true">Option B</button>
      <button kendoButton [toggleable]="true">Option C</button>
    </kendo-buttongroup>
  </div>
  
  <h6>This is just a basic overview see current documentations from official website</h6>
  <h6>or add other learnings later</h6>