<div class="register-container">
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div>
        <label for="fullName">Full Name</label>
        <input id="fullName" type="text" formControlName="fullName" />
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
  